.path-location {

  .paragraph--type--image-text {

    .field--type-image {

      img {
        width: 100%;
        height: auto;
      }

    }

  }

  @media (min-width: 750px) {

    .field--type-entity-reference-revisions > .field__item {
      clear: both;
      padding-top: 5rem;
    }

    .paragraph--type--image-text {
      clear: both;

      .field--type-image {
        width: 47%;
        float: left;
      }

      .field--type-text-long {
        width: 47%;
        float: right;
      }

    }

  }

}
