.region-header {

  .block-block-content {
    font-weight: 400;
    font-family: "Kadwa", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;

    .feature__badge {
      width: 80px;
      height: 50px;
      padding: 5px 10px;
      transform: rotate(10deg);
      word-wrap:normal;
      text-decoration: none;
      display: block;
      text-align: center;
      float: right;
      margin-top: -175px;
      white-space: normal;
      line-height: 1.5;
    }

    @media (min-width: 400px) {
      .feature__badge {
        float: left;
        margin-left: 200px;
      }
    }

    @media (min-width: 550px) {

      .feature__badge {
        @extend .button;
        background: none;
        display: inline-block;
        width: auto;
        color: #222;
        margin: -40px 0 0 0;
        float: right;
        line-height: 1.75;
        transform: rotate(0deg);
        height: auto;
      }
    }

    @media (min-width: 750px) {

      .feature__badge {
        margin-top: 0;
      }

    }

    @media (min-width: 1000px) {

      & {
        font-size: 2.4rem;
        padding-top: 100px;
      }

      .feature__badge {
        margin-top: -50px;
      }

    }

  }

}