.region-content-lower {
  clear: both;
  border-top: 15px solid #0094CA;
  transform: skewY(-5deg);
  margin-top: 4rem;
}

.content-lower__inner {
  transform: skewY(5deg);
  padding-top: 8rem;
  padding-bottom: 2rem;
}
