.block-views .view-sponsors {
  clear: both;

  .view-content {
    text-align: center;

    a {
      display: inline-block;
      // In theory this should be 20px to fully fill up the 960px width, but
      // in some browsers (at least FF44/Linux) the elements break to a second
      // line with that.
      padding: 18px;
      vertical-align: middle;
      width: auto;
    }
  }

  h3 {
    @extend h4;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .views-row {
    width: auto;
  }

  a {
    display: inline-block;
  }

  a.sponsor-platinum {
    width: 50%;
  }

  a.sponsor-gold {
    width: 33%;
  }

  a.sponsor-silver {
    width: 25%;
  }

  a.sponsor-bronze {
    width: 20%;
  }

  a.sponsor-rasberry {
    width: 12.5%;
  }
}
 .path-sponsors .view-sponsors .view-content {
  h3 {
    text-align: left;
  }
  text-align: left;
  a {
    display: block;
  }
  .description a {
    display: inline;
  }
}

.path-frontpage {
  .view-sponsors .description {
    display: none;
  }
}
