.path-frontpage {

  h1.page-title {
    visibility: hidden;
    height: 0;
  }

  .node__content {

    h3 {
      clear: both;
      padding-top: 2rem;
    }

    .paragraph--type--image-text {
      clear: both;

      .field--type-image {
        display: none;
      }

      .field--type-text-long {
        width: 100%;
      }

    }

  }

  .block-views .view-featured-attendees {

    .view-content {
      text-align: justify;
    }

    .views-row {
      width: auto;
      display: inline-block;
      transform: skewY(-5deg);
      margin-bottom: 2rem;
      vertical-align: top;
      padding: 2rem 2rem 5rem;
    }

    .views-row:hover {
      background: #e5e5e5;
    }

    .views-row > * {
      transform: skewY(5deg);
    }

    .views-field {
      margin-bottom: .5rem;
    }

    .views-field-user-picture {
      .field-content {
        width: 183px;
        height: 183px;
        transform: skewY(-5deg);
        overflow: hidden;
      }

      .field-content > * {
        // For this to look correct the image must be set to have a width of
        // 183px and a height of (tan(5°) + 1) * 183px = 199px.
        transform: skewY(5deg);
        // See above. tan(5°) / 2 * 183px = 8px
        margin-top: -8px;
      }

      // See above.
      padding-bottom: 8px;
    }

    .views-field-field-twitter-account {
      margin-top: 30px;

      a {
        color: #222;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .views-field-name .field-content {
      background-color: #222;
      color: #fff;
      font-weight: bold;
      padding: 5px;
    }
  }

  @media (min-width: 550px) {

    .node__content {

      h3 {
        padding-top: 4rem;
      }

      .paragraph--type--image-text {
        clear: both;

        .field--type-image {
          width: 25%;
          float: left;
          display: block;
        }

        .field--type-text-long {
          width: 75%;
          float: left;
        }

      }

    }

    .block-views .view-featured-attendees {

      .views-row {
        min-width: 435px;
      }

      .views-field-user-picture {
        float: left;
        margin-right: 67px;
      }

      .views-field-field-twitter-account,
      .views-field-name {
        // 183px for .views-field-user-picture itself + 67px above.
        margin-left: 250px;
      }
    }

  }

}
