.path-jobs {

  .block-views .view-jobs {

    article {
      border-top: 5px solid #0076a2;
      margin: 0;
      padding: 2rem 0 2rem;
      transition: background-color 0.3s;

      h2 {
        @extend h6;
        font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }

    }

  }

  @media (min-width: 750px) {

    .block-views .view-jobs {

      .view-content {
        text-align: justify;
      }

      article {
        width: 49%;
        display: inline-block;
        transform: rotate(-5deg);
        margin-bottom: 2rem;
        vertical-align: top;
        padding: 2rem 2rem 5rem;
      }

      article:hover {
        background: #e5e5e5;
      }

      article > * {
       transform: rotate(5deg);
     }

    }

  }

  @media (min-width: 1000px) {

    .block-views .view-jobs {

      article {
        width: 33%;
      }

    }

  }

}

.node--type-job.node--view-mode-full {

  .field--name-field-skill-level {
    display: block;
    float: left;
    box-sizing: border-box;
    border-top: 5px solid #0076a2;
    padding: 2rem 2rem;
    background: #e5e5e5;
    width: 100%;

    .field__item {
      color: #0076a2;
      font-weight: bold;
    }

  }

  .field--name-field-position,
  .field--name-field-job-type,
  .field--name-field-pay-scale,
  .field--name-field-contact,
  .field--name-field-link {
    box-sizing: border-box;
    display: block;
    clear: both;
    background: #e5e5e5;
    padding: 0 2rem 1rem;
    float: left;
    width: 100%;

    .field__item {
      color: #0076a2;
      font-weight: bold;
    }

  }

  .field--name-body {
    width: 100%;
    float: left;
    margin-top: 3rem;
    clear: both;
  }

  @media (min-width: 750px) {

    .field--name-field-skill-level,
    .field--name-field-position,
    .field--name-field-job-type,
    .field--name-field-pay-scale,
    .field--name-field-contact,
    .field--name-field-link {
      float: right;
      width: 35%;
    }

    .field--name-field-link {
      margin-bottom: 3rem;
    }

    .field--name-body {
      width: 60%;
      float: none;
      clear: none;
    }

  }

}
