@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
html,body,p,a,h1,h2,h3,h4,h5,h6,span,div,pre,label {
  font-family: 'Roboto', sans-serif;
}
a:hover,a:focus,.full-width-bg a:hover, .full-width-bg a:focus {
  text-decoration: none !important;
  border: none;
}
.full-width-bg {
  background: rgb(44, 58, 77);
  box-shadow: 0 4px 5px rgba(0,0,0,.1);
}
.full-width-bg a {
  text-decoration: none;
  color: white;
}
a {
  color: #6d6d6d;
  text-decoration: none;
  border: none;
}
#main-wrapper {
  margin-top: 10px;
}
h1,h2,h3,h4,h5,h6 {
/*
  text-transform: uppercase;
*/
}
.sidebar h2:after, .site-footer__top h2:after,h2.node__title:after,#featured-bottom-wrapper h2:after, .featured-top h2:after, .highlighted h2:after {
  display: block;
  width: 30px;
  border-top: 1px solid #4fb7ff;
  margin-top: 10px;
  content: "";
}
.view-content-recent ul li {
  list-style-type: none;
  padding: 1px;

}
.view-content-recent ul li:before {
  content: "\2b";
  font-family: 'Glyphicons Halflings';
  font-size: 15px;
  float: left;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px 0px;
}
.view-comments-recent ul li {
  list-style-type: none;
  padding: 1px;

}
.view-comments-recent ul li:before {
  content: "\f075";
  font-family: 'FontAwesome';
  font-size: 18px;
  float: left;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px 0px;
}

.featured-top ul.menu a.is-active,
#featured-bottom-wrapper ul.menu a.is-active {
  color: #333;
}
header#header {
  box-shadow: 0 4px 5px rgba(0,0,0,.1);
}
#logo img, .site-logo img {
  max-width: 180px;
}
.sidebar input {
  width: 100%;
  height: 40px;
}
.sidebar #search-block-form input.form-submit, .sidebar #search-form input.form-submit,
#search-block-form input.form-submit, #search-form input.form-submit {
  height: 40px;
  width: 100%;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
  background: rgb(75, 173, 239);
  color: white;
  border: none;
  margin: 15px 0px;
  text-indent: 0px;
  font-size: 16px;
}
#search-form input.form-submit {
  margin: 0px;
}
#search-block-form input.form-submit, #search-form input.form-submit {
  width: 30%;
}
#search-block-form input.form-submit:hover, #search-form input.form-submit:hover,
#search-block-form input.form-submit:active, #search-form input.form-submit:active,
#search-block-form input.form-submit:focus, #search-form input.form-submit:focus {
  background: rgb(68, 147, 201);
}
ul.menu a.is-active {
  color: #4BADEF;
}
label {
  font-weight: 500;
  font-size: 14px;
  color: #6d6d6d;
  display: block;
}
.breadcrumb {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 5px rgba(0,0,0,.1);
  border: 1px solid #eee;
  margin: 10px 15px;
}
.breadcrumb a {
  color: #333;
  font-size: 14px;
  border: none;
}
input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-file, input.form-number, input.form-color, select.form-select {
  height: 40px;
  width: auto;
}
.sidebar input {
  width: 100%;
}
select.form-select {
  background: white;
}
.node__title a,node__title a:hover, node__title a:focus {
  color: #333;
}
.field .field-label {
  font-weight: normal;
}
#edit-submit {
  font-size: 14px;
}
.block-user .item-list li {
  list-style: none;
}
.sub-footer {
  background: rgb(27, 39, 56);
}
.sub-footer p {
  margin: 0px;
}
#logo, #name-and-slogan {
  display: inline-block;
}
#featured-bottom-wrapper .menu-item a,.featured-top .menu-item a {
  color: white;
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  font-size: 16px;
}
strong {
  font-weight: 500;
}
.form-composite > .fieldset-wrapper > .description, .form-item .description {
  color: #999;
  padding-top: 5px;
}
.pager li>a, .pager li>span {
  border-radius: 2px;
  border: 1px solid #e0e0e0;
}
.pager li>a:hover, .pager li>a:focus {
  color: white;
  background-color: rgb(75, 173, 239);
}
.messages--error {
  color: #DB3613;
  box-shadow: -8px 0 0 #EA2800;
}
.messages {
  border: none;
  border-radius: 0px;
}
.label {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.password-strength__meter {
  background: #D1D6DA;
}
.node-readmore a:before {
  content: "\f0fe";
}
.node-readmore a,
.comment-add a {
  color: #4BADEF;
  font-size: 12px;
}
.node-readmore a:before,
.comment-add a:before,
.field-name-field-tags .links.field-items:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3px 5px;
}
.comment-add a:before {
  content: "\f075";
}
.field-name-field-tags .links.field-items:before {
  content: "\f02c";
  float: left;
  color: #6d6d6d;
  padding-top: 4px;
  font-size: 12px;
}
.field-name-field-tags .links.field-items a {
  font-size: 12px;
}
.field-name-field-tags h3.field-label {
  display: none;
}
.carousel-control.left, .carousel-control.right {
  margin-top: 0;
}
.carousel-control {
  font-size:5em;
    top: 50%;
  line-height: 0;
}
#block-dbcd-branding {
  float:left;
  width:25%;
}

.slice {
  margin-top: 4em;
  margin-bottom: 4em;
}

.menu--main,
.block-menu navigation {
  float:left;
  width:75%;
}
.carousel-control.left, .carousel-control.right {
  background: none;
}
.icon-feature {
  font-size: 68px;
  margin-top: 10px;
  text-align: center;
  display: block;
}
.credited {
  color: #9D9898;
}
.credited a {
  color: #F2E6E6;
}
